@charset "Shift_JIS";

/* --- 全体の背景・テキスト --- */
body {
margin: 0;
padding: 0;
background-color: #ffffff; /* ページの背景色 */
color: #000000; /* 全体の文字色 */
font-size: 100%; /* 全体の文字サイズ */
}

/* --- 全体のリンクテキスト --- */
a:link { color: #0000ff; }
a:visited { color: #800080; }
a:hover { color: #ff0000; }
a:active { color: #ff0000; }

#login {
  width: 100%;
  background-color: #ffffff; /* メインカラムの背景色 */
}

/* --- コンテナ --- */
#container {
width: 96%; /* ページの幅 */
margin: 0 auto; /* センタリング */
background: url(sidebar_200.gif) repeat-y left; /* サイドバーの背景画像 */
background-color: #000000; /* メインカラムの背景色 */
border-left: 1px #c0c0c0 solid; /* 左の境界線 */
border-right: 1px #c0c0c0 solid; /* 右の境界線 */
}

/* --- ヘッダ --- */
#header {
background-color: #00BE47; /* ヘッダの背景色 */
}

/* --- ナビゲーション --- */
#nav {
float: left;
width: 200px; /* サイドバーの幅 */
height: 500px;
}

/* --- メインカラム --- */
#content {
  width: 500px;
  height: 500px;
  margin: 0 auto; /* センタリング */
  background-color: #ffffff;
}

/* --- フッタ --- */
#footer {
clear: left; /* フロートのクリア */
width: 100%;
background-color: #00BE47; /* フッタの背景色 */
}

/* --- ログイン画面--- */
.loginLogo {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto; /* センタリング */
  padding-top: 60px;
  float:: center;
}

.centeringInput {
  width: 150px;
  margin: 40px auto;
}
.loginBtn {
  width: 70px;
  margin: 0 auto;
}
